.bs-card {
	width: 100%;
	background-color: $card-background;
	margin-bottom: 20px;
	overflow: hidden;
	height: auto !important;
	border-radius: 10px;
	color: $card-color;

	.bs-card-header {
		display: block;
		background-color: $card-header;
		padding: 6px 12px 10px;
		white-space: initial;
		margin-bottom: 10px;
		overflow: hidden;

		img {
			max-width: 35px; float: left;
		}

		h2 {
			font-family: $header-font;
			font-size: 34px;
			line-height: 40px;
			margin: 5px 0 0;
			padding: 0;
		}

		i{
			font-size: 32px;
			line-height: 1.2em;
			float: right;
		}
	}

	.bs-card-body {
		display: block;
		padding: 0px 12px 15px;
		white-space: initial;

		p {
			font-family: $body-font;
			font-size: 18px;
			margin: 0 0 10px;
			padding: 0;
			line-height: 22px;
		}

		h2 {
			font-family: $header-font;
			font-size: 45px;
		}

		aside {
			font-family: $standfirst-font;
			font-size: 25px;
			margin-bottom: 20px;
		}

		img {
			max-width: 100%;
			height: auto;
			margin: 0 auto;
			display: block;
		}

		.bs-body-content {
		}
	}

	&.bs-intro {
		background-color: $intro-card-background;
		color: $intro-card-color;

		.bs-card-header {
			background-color: $intro-card-header;
			
			margin-bottom: 0;

			h2 {
				font-size: 50px;
			}
		}
	}

	.bs-icon-aside {
		img {
			max-width: 100%; height: auto;
		}
	}
}