$intro-card-header: 		#F33932;
$intro-card-background:	 	#F33932;
$intro-card-color:			#FFFFFF;

$card-header: 		#F33932;
$card-background: 	#F77A7A;
$card-color: 		#000000;

$header-font: 		'SolidoCondensed-Bold';
$standfirst-font:	'SolidoCondensed-Medium';
$body-font: 		'SundayTimesModern-Light';