$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

@import "variables";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

html, body, body > div.ng-scope {
  height: 100%;
}

body {
  font-family: $body-font;
}

@import "header";

.bs-top {
  padding-top: 80px;
}

.bs-wrapper{
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  padding: 40px 10px 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

.bs-column-scroll {
  overflow-x: hidden;
  margin: 0;
  height: 100%;
}

.bs-column-wrap {
  white-space: nowrap;
  -webkit-transition: all 0.5s;
  overflow-x: visible;
  margin: 0; padding: 0;
  height: 100%;
}

.bs-column {
  display: inline-block;
  width: 100%;
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
}

.bs-progress {
  width: 100%;
  height: 4px;
  background: transparent;
  position: fixed;
  bottom: 0; left: 0;
}

.bs-progress-bar {
  background: #FFF; height: 4px;
  transition: width 0.4s;
  opacity: 0.8;
}

.bs-fixed-nav {
  position: fixed;
  bottom: 10px;
}

.bs-prev-btn {
  left: 10px;
}

.bs-next-btn {
  right: 10px;
}

@import "cards";

@import "footer";

@import "zoom";
