<div class="bs-wrapper bs-column-scroll" style="background-image: url(images/background.png);">
	<ul class="bs-column-wrap" ng-style="{'transform': transform, '-webkit-transform': transform, '-ms-transform': transform}">
		<li class="bs-column" ng-repeat="column in columns" hm-swipeLeft="nextColumn()" hm-dragLeft="dragNextColumn()" hm-swipeRight="prevColumn()" hm-dragRight="dragPrevColumn()" hm-options="{tap_always: false}">
			<h1 ng-bind-html="column.title"></h1>
			<div ng-repeat="card in column.acf.cards">
				<div ng-switch="card.acf_fc_layout">
					<!-- Article -->
					<div ng-switch-when="article" class="bs-card">
						<div class="bs-card-header bs-card-article">
							<i class="fa fa-page" class="pull-right"></i>
							<h2>{{card.headline}}</h2>
							<p>{{card.author}}</p>
						</div>
						<div class="bs-card-body" ng-if="card.body" ng-bind-html="card.body"></div>
					</div>

					<!-- Image -->
					<div ng-switch-when="article" class="bs-card">
						<div class="bs-card-header bs-card-image">
							<i class="fa fa-photo" class="pull-right"></i>
							<h2>Image Name</h2>
						</div>
						<div class="bs-card-body" ng-if="card.image">
							<img ng-src="card.image" />
						</div>
					</div>

					<!-- Video -->
					<div ng-switch-when="article" class="bs-card">
						<div class="bs-card-header bs-card-article">
							<i ng-class="card.icon" class="pull-right"></i>
							<h2>{{card.headline}}</h2>
							<p>{{card.author}}</p>
						</div>
						<div class="bs-card-body" ng-if="card.body" ng-bind-html="card.body"></div>
					</div>
				</div>
			</div>
		</li>
	</ul>
</div>

<a ng-click="nextColumn()" class="btn btn-primary btn-xs bs-fixed-nav bs-next-btn visible-md-block visible-lg-block">Next</a>
<a ng-click="prevColumn()" class="btn btn-primary btn-xs bs-fixed-nav bs-prev-btn visible-md-block visible-lg-block">Prev</a>

<div class="bs-progress">
	<div class="bs-progress-bar" ng-style="{'width': width}"></div>
	<hidescroll></hidescroll>
</div>
