<div class="bs-wrapper bs-column-scroll" style="background-image: url(images/background.png);">
	<ul class="bs-column-wrap" ng-style="{'transform': transform, '-webkit-transform': transform, '-ms-transform': transform}">
		<li class="bs-column" ng-repeat="column in columns" hm-swipeLeft="nextColumn()" hm-dragLeft="dragNextColumn()" hm-swipeRight="prevColumn()" hm-dragRight="dragPrevColumn()" hm-options="{tap_always: false}">
			<h1>{{column.title}}</h1>
			<div class="bs-card" ng-repeat="card in column.cards">
				<div class="bs-card-header">
					<i ng-class="card.icon" class="pull-right"></i>
					<h2>{{card.header}}</h2>
					<p>{{card.stand}}</p>
				</div>
				<div class="bs-card-body" ng-if="card.body" ng-bind-html="card.body"></div>
			</div>
		</li>
	</ul>
</div>